<script defer="" src="js/data/parametros-cargos.js"></script>
<script defer="" src="js/data/policia-penal.js"></script>
<script defer="" src="js/data/acoes-judiciais-data.js"></script>
<script defer="" src="js/data/associacoes-data.js"></script>
<script defer="" src="js/data/concursos-data.js"></script>
<script defer="" src="js/data/portal-config.js"></script>
<script defer="" src="js/data/bases-conteudo.js"></script>
<script defer="" src="js/ui/navegacao-ui.js?v=20260503homeinst1"></script>
<script defer="" src="js/services/remuneracao.js?v=20260503prf1"></script>
<script defer="" src="js/data/header-brasoes-config.js?v=20260504headerbrasoes1"></script>
<script defer="" src="js/ui/header-estados.js?v=20260503headercompact1"></script>
<script defer="" src="js/pages/contato-init.js?v=20260503homeinst1"></script>
<script defer="" src="js/ui/event-bindings.js?v=20260503homeinst1"></script>
<script defer="" src="js/core/page-context.js"></script>
<script defer="" src="js/brasao-lightbox.js?v=20260501"></script>
